@import "shared/ui-kit/ui-kit.scss";

.price {
  margin: 2 * $spacing 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 25px;
  color: $emphasize-color;

  &.active {
    color: $success-text-color;
    margin: 3 * $spacing 0;
  }

  .currency-symbol {
    font-size: 17px;
  }
}
