@import "shared/ui-kit/ui-kit.scss";
@import "shared/ui-kit/utils.scss";

.sign-in {
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  @include flex-column;
}

.signup {
  margin-top: 6 * $spacing;
  font-size: $links-font-size;
  font-weight: $links-font-weigth;
  line-height: $links-line-height;

  text-align: center;
}
